.recipient-container {
  display: flex;
  justify-content: center;
  padding: 40px;
  font-family: sans-serif;
  color: black;
  flex-direction: column;
  gap: 20px;
}

.recipient-credential-card {
  width: 600px;
  padding: 30px;
  border-radius: 12px;
  border: 2px solid #ddd;
  background: #fff;
}

.verification-status {
  font-size: 22px;
  font-weight: bold;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 6px;
  text-align: center;
}

.verification-status.valid {
  background: #d1fae5;
  color: #058c42;
}

.verification-status.invalid {
  background: #fee2e2;
  color: #b91c1c;
}

.certificate-view {
  padding: 20px;
  border: 1px solid #000;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;
}

.certificate-logo {
  width: 100px;
  margin-bottom: 10px;
}

.recipient-name {
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
}

.signature-img {
  width: 150px;
  margin: 20px 0 10px;
}

.issuer-line {
  margin-top: 10px;
  font-size: 16px;
}

.issued-date {
  margin-top: 5px;
  color: #555;
}

.onchain-box {
  margin-top: 20px;
  padding: 15px;
  border: 1px dashed #aaa;
  border-radius: 8px;
}

.verification-input {
  padding: 20px;
  text-align: center;
  font-size: 20px;
  display: flex;
  gap: 20px;
}

.loading {
  background: none;
  border: 1px solid yellow;
  color: #fcb53b;
}

.verification-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  font-family: sans-serif;
}

.verify-button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  background: green;
  color: #fff;
  cursor: pointer;
}

.verification-header {
  color: black;
}

.go-back {
  text-align: center;
  padding: 10px 5px;
  background-color: #9cc6db;
  width: 70px;
  border-radius: 5px;
}

.error-msg {
  color: red;
  margin-top: 50px;
}

.transaction-link {
  color: green;
  background: #d1fae5;
  text-decoration: underline;
  padding: 10px 5px;
  border-radius: 5px;
  cursor: pointer;
}
